@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-primary text-primary text-sm;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Dark mode's color overrides */
.dark .bg-primary         { background-color: #202020; }
.dark .bg-opposite        { background-color: #EEEEEE; }
.dark .text-primary       { color: #EEEEEE; }
.dark .text-opposite      { color: #202020; }

::selection{
  @apply bg-[#30303050];
}