@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-primary text-primary text-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Dark mode's color overrides */
.dark .bg-primary         { background-color: #151515; }
.dark .bg-opposite        { background-color: #FAFAFA; }
.dark .bg-gray-accent     { background-color: #464646; }
.dark .text-primary       { color: #FAFAFA; }
.dark .text-subtle        { color: #AAAAAA; }
.dark .text-opposite      { color: #151515; }

::selection{
  @apply bg-[#30303050];
}

.input-clear {
  outline: none;
  box-shadow: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


/* Change LogIn autofill bg colors Chrome, Safari and Opera */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    transition: background-color 5000s ease-in-out 0s; /* This is a trick to override autofill background */
}
